<div>
    <h1 class="mat-h1 heading">Rólunk</h1>

    <div class="content">
        <p class="mat-body-1">
            Az iroda tapasztalt és szakképzett munkatársai mindig készek segíteni az ügyfeleknek a szükséges okmányok
            beszerzésében, és igyekeznek minden
            ügyet hatékonyan és gyorsan lebonyolítani.
        </p>
    </div>

    <div class="row">
        <div class="col-md-3">
            <mat-card class="about-card">
                <mat-card-content>
                    <h2>{{ satisfiedCustomers }}</h2>
                    <p>Elégedett ügyfél</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="about-card">
                <mat-card-content>
                    <h2>{{ issuedDocuments }}</h2>
                    <p>Kiállított okmány</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="about-card">
                <mat-card-content>
                    <h2>{{ yearsOfExperience }}</h2>
                    <p>Év tapasztalat</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="about-card">
                <mat-card-content>
                    <h2>{{ teamMembers }}</h2>
                    <p>Csapat tagok</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="content">
        <p class="mat-body-1">
            A Nekeresdi Okmányiroda fontosnak tartja a bizalmat és az ügyfél
            elégedettségét, és minden erőfeszítést megtesz annak érdekében, hogy az ügyfelek elégedetten távozzanak az
            irodából.
        </p>
    </div>
</div>