<div>
    <h1 class="mat-h1 heading">Belépés vagy Regisztráció</h1>

    <div class="authentication-form">
        <button mat-raised-button color="primary" routerLink="/auth/register">
            <mat-icon fontSet="material-icons-outlined">add</mat-icon>
            Regisztráció
        </button>
        <button mat-raised-button color="primary" routerLink="/auth/login">
            <mat-icon fontSet="material-icons-outlined">login</mat-icon>
            Belépés
        </button>
    </div>
</div>